# 복습

In [6]:
## 반복문

## Sequence (연속, 순서 있음) : range, list, tuple, string

# range
for i in range(5):
    print(i, end = " ")
print()

# list -> ★★★얘만 변경 가능★★★
for i in [10, 20, 30, 40]:
    print(i, end = " ")
print()

# tuple
for i in (10, 20, 30, 40):
    print(i, end = " ")
print()

# string
for i in "Python":
    print(i, end = " ")

0 1 2 3 4
10 20 30 40
10 20 30 40
P y t h o n

# 중첩 루프

In [10]:
for i in range(5):
    for j in range(i+1):
        print("*", end = '')
    print(end = "\n")

*
**
***
****
*****

In [13]:
# 구구단 2~9단, 곱1~9

for dan in range(2, 10):
    print(dan, "단")
    for gop in range(1, 10):
        print(dan, "x", gop, "=", dan*gop)

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [25]:
for i in range(5):
    for j in range(5):
        if i == j:
            print("*", end = "")
        else:
            print(" ", end = "")
    print()

*
 *
  *
   *
    *

# Fizz Buzz

In [33]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:  ######## 순서 중요!!!
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [32]:
# 줄바꿈만 안했을 뿐 위랑 같은 코드
for i in range(1, 101):
    if i % 5 == 0:
        print("Buzz")
    if i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
5
Fizz
7
8
Fizz
Buzz
10
11
Fizz
13
14
Buzz
Fizz
16
17
Fizz
19
Buzz
20
Fizz
22
23
Fizz
Buzz
25
26
Fizz
28
29
Buzz
Fizz
31
32
Fizz
34
Buzz
35
Fizz
37
38
Fizz
Buzz
40
41
Fizz
43
44
Buzz
Fizz
46
47
Fizz
49
Buzz
50
Fizz
52
53
Fizz
Buzz
55
56
Fizz
58
59
Buzz
Fizz
61
62
Fizz
64
Buzz
65
Fizz
67
68
Fizz
Buzz
70
71
Fizz
73
74
Buzz
Fizz
76
77
Fizz
79
Buzz
80
Fizz
82
83
Fizz
Buzz
85
86
Fizz
88
89
Buzz
Fizz
91
92
Fizz
94
Buzz
95
Fizz
97
98
Fizz
Buzz
100

# 코드 단축하기

타입 우선순위 : 문자 우선

In [34]:
"Fizz" * (10 % 3 == 0)   ## False = 0 이니까

''

In [37]:
"Fizz" * (10 % 5 == 0)   ## True = 1 이니까

'Fizz'

In [41]:
True and True

True

In [42]:
True and False

False

In [43]:
True or False

True

In [44]:
True or True

True

In [47]:
"Fizz" * (10 % 3 == 0) and "Buzz" * (10 % 5 == 0) or 10   
## ("" and "Buzz") or 10         =>       False or 10       =>      앞이 False로 틀리니까 10 
#                                ↑                         ↑
#                   (False and True = False)        (False or True = True)

10

In [40]:
"Fizz" * (10 % 3 == 0) + "Buzz" * (10 % 5 == 0) or 10   ## ("" + "Buzz") or 10   =>   "Buzz"

'Buzz'

In [38]:
"Fizz" * (15 % 3 == 0) + "Buzz" * (15 % 5 == 0) or 10   ## ("Fizz" + "Buzz") or 10   =>   "FizzBuzz"

'FizzBuzz'

In [39]:
for i in range(1, 101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 리스트 응용

### 리스트 추가 / 확장 / 삽입

In [56]:
alist = [1, 2, 3]
alist.append(100)
alist.append(200)
alist.append([300, 400])   # 리스트 안에 리스트 모양으로 들어감  =>  리스트 추가

alist.extend([500, 600])   # 리스트 안에 같은 차원으로 들어감  =>  리스트 확장

print(alist[5][0])
print(alist[6])

alist.insert(1, 700)       # 리스트 삽입

print(alist)

300
500
[1, 700, 2, 3, 100, 200, [300, 400], 500, 600]

In [364]:
alist = [1, 2, 3, 4, 5]
alist[1] = [88, 89]       # append
alist[2:2] = [66, 67]     # extend : 시작 인덱스와 끝 인덱스를 같게 지정하면 해당 인덱스의 
print(alist)              #          요소를 덮어쓰지 않으면서 요소 여러 개를 중간에 추가할 수 있습니다

alist[1:1] = [777, 777]
print(alist)

alist[1:2] = [999, 999]
print(alist)

alist[1:3] = [9999, 9999]
print(alist)

alist[1:4] = [99999, 99999]
print(alist)

[1, [88, 89], 66, 67, 3, 4, 5]
[1, 777, 777, [88, 89], 66, 67, 3, 4, 5]
[1, 999, 999, 777, [88, 89], 66, 67, 3, 4, 5]
[1, 9999, 9999, 777, [88, 89], 66, 67, 3, 4, 5]
[1, 99999, 99999, [88, 89], 66, 67, 3, 4, 5]

### 리스트 삭제

In [61]:
alist = [1,2,3,4,5]

print(alist.pop(), "꺼냄")     # pop : 인덱스를 이용해서 값을 내놓고 삭제
print(alist.pop(), "꺼냄")
print(alist.pop(), "꺼냄")

alist

5 꺼냄
4 꺼냄
3 꺼냄

[1, 2]

In [62]:
alist = [10,20,30,40,50]

print(alist.pop(2), "꺼냄")

alist

30 꺼냄

[10, 20, 40, 50]

In [63]:
alist = [10,20,30,40,50]

print(alist.remove(20), "꺼냄")    # remove : 값을 찾아서 삭제  => 이미 삭제됐기 때문에 None

alist

None 꺼냄

[10, 30, 40, 50]

In [65]:
alist = [10,20,30,40,50]

del alist[0]                 # del : 인덱스를 이용해서 삭제
del alist[0]

alist

[30, 40, 50]

### 인덱스 찾기

In [67]:
alist = [10, 20, 30, 40, 50]
alist.index(30)

2

### 값의 개수

In [367]:
alist = [10, 20, 30, 40, 50, 10, 20, 20, 20]
blist = ["Hello", "Hi", "Hello", "Hi"]

print(alist.count(20))
print(blist.count("Hello"))

4
2

### 리스트 뒤집기

In [71]:
alist = [10,20,30,40,50]
alist.reverse()          ## 원본 변경
alist

[50, 40, 30, 20, 10]

In [73]:
alist = [10,20,30,40,50]
alist[::-1]

[50, 40, 30, 20, 10]

### 리스트 정렬

In [80]:
dir(alist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [74]:
alist = [99, 10, 88, 30, 44, 50, 60]
alist.sort()                        ## 원본 변경   ( 오름차순이 디폴트 값 )        
alist

[10, 30, 44, 50, 60, 88, 99]

In [77]:
alist = [99, 10, 88, 30, 44, 50, 60]
sorted(alist)

[10, 30, 44, 50, 60, 88, 99]

In [78]:
alist = [99, 10, 88, 30, 44, 50, 60]
blist = sorted(alist)        
blist

[10, 30, 44, 50, 60, 88, 99]

### 리스트 모두 삭제

In [84]:
alist = [99, 10, 88, 30, 44, 50, 60]
alist.clear()
alist

[]

### 리스트 슬라이스 조작

In [86]:
alist = [99, 10, 88, 30, 44, 50, 60]

del alist[:]                # 리스트가 아예 삭제됨

if alist:                   # 값이 있으면 True, 없으면 False
    print("아이템이 있다")
else:
    print("아이템이 없다")

아이템이 없다

### 리스트 복사

In [99]:
alist = [10,20,30,40,50]
blist = alist            # 주소 할당
clist = alist.copy()     # 값을 복사

print(alist == clist, "값이 같다")

alist[0] = 99
blist[1] = 88

print(alist, id(alist))
print(blist, id(blist))
print(clist, id(clist))
print(alist is blist)
print(alist is clist, "주소는 다르다")

True 값이 같다
[99, 88, 30, 40, 50] 1693707952008
[99, 88, 30, 40, 50] 1693707952008
[10, 20, 30, 40, 50] 1693707908104
True
False 주소는 다르다

### enumerate

In [105]:
alist = [10,20,30,40,50]

# 값을 하나씩 꺼낸다
for index, val in enumerate(alist):
    print(index + 1, val, sep = " --> ")

1 --> 10
2 --> 20
3 --> 30
4 --> 40
5 --> 50

In [106]:
alist = [10,20,30,40,50]

# 값을 하나씩 꺼낸다
for index, val in enumerate(alist, start = 100):
    print(index, val, sep = " --> ")

100 --> 10
101 --> 20
102 --> 30
103 --> 40
104 --> 50

### 최대 / 최소

In [108]:
alist = [2, 10, 70, 44, 66, 50]
alist.sort()                   # 오름차순
print("최소 : ", alist[0])
print("최대 : ", alist[-1])

최소 :  2
최대 :  70

In [110]:
alist = [2, 10, 70, 44, 66, 50]
alist.sort(reverse = True)    # 내림차순
print("최대 : ", alist[0])
print("최소 : ", alist[-1])

최대 :  70
최소 :  2

In [111]:
alist = [2, 10, 70, 44, 66, 50]
alist.sort(reverse = True)   
print("최대 : ", max(alist))
print("최소 : ", min(alist))

최대 :  70
최소 :  2

### 리스트 합계

In [146]:
a = [10, 10, 10, 10, 10]
x = 0
for i in a:
    x += i
print("sum :", x)

sum : 50

In [145]:
a = [10, 10, 10, 10, 10]
print("sum :", sum(a))

sum : 50

### 리스트 표현식

In [112]:
[i for i in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
[i for i in range(1, 11) if i % 2 == 0]

[2, 4, 6, 8, 10]

In [115]:
[i if i % 2 == 0 else str(i) for i in range(1, 11)]

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [117]:
list(i+100 for i in range(1, 11) if i % 2 == 0)

[102, 104, 106, 108, 110]

In [120]:
# 1~3
[i for i in range(1, 4) for j in range(10, 12)]

[1, 1, 2, 2, 3, 3]

In [123]:
alist = []
for i in range(1, 4):
    for j in range(10, 12):
        alist.append(i)
print(alist)

[1, 1, 2, 2, 3, 3]

In [124]:
# 1~3
[(i,j) for i in range(1, 4) for j in range(10, 12)]

[(1, 10), (1, 11), (2, 10), (2, 11), (3, 10), (3, 11)]

In [127]:
alist = []
for i in range(1, 4):
    for j in range(10, 12):
        alist.append((i,j))
print(alist)

[(1, 10), (1, 11), (2, 10), (2, 11), (3, 10), (3, 11)]

In [132]:
[(dan, gop) for dan in range(2, 10) for gop in range(1, 10)]

[(2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [133]:
[(dan, gop) for dan in range(2, 10) if dan % 4 == 0 for gop in range(1, 10)]

[(4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9)]

In [134]:
[(dan, gop) for dan in range(2, 10) for gop in range(1, 10) if dan % 4 == 0]

[(4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9)]

### map

In [140]:
a = [1.2, 2.5, 3.7, 4.6]
[int(i) for i in a]

[1, 2, 3, 4]

In [141]:
a = [1.2, 2.5, 3.7, 4.6]
blist = [int(i) for i in a]
print(blist, type(blist))

[1, 2, 3, 4] <class 'list'>

In [143]:
a = [1.2, 2.5, 3.7, 4.6]
clist = list(map(int, a))
print(clist)

[1, 2, 3, 4]

In [153]:
a = [1,2,3,4,5]
blist = [str(val) for val in a]
print(blist)

clist = list(map(str, a))
print(clist)

dlist = tuple(str(val) for val in a)
print(dlist)

elist = tuple(map(str, a))
print(elist)

['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')
('1', '2', '3', '4', '5')

In [156]:
a = ["Hello", "python", "world", "Multicampus"]
len(a)

# 방법1 : comprehension
alist = [len(val) for val in a]
print(alist)

# 방법2 : map
blist = list(map(len, a))
print(blist)

[5, 6, 5, 11]
[5, 6, 5, 11]

In [161]:
# 사용자 입력값을 받아서 합계

a = input("입력하세요>>").split()

# 방법1 : map
a = list(map(int, a))

# 방법2 : comprehension
# a = [int(val) for val in a]

print(sum(a))

입력하세요>>10 20 30 40
100

In [163]:
# 연습문제 #
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [val for val in a if len(val) == 5]
 
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

# 2차원 리스트

In [167]:
a1 = [[10, 20],
     [30, 40],
     [50, 60]]          # 규칙 3 x 2

for row in range(3):
    #print(a1[row])
    for col in range(2):
        print(a1[row][col])

10
20
30
40
50
60

In [169]:
a1 = [[10, 20],
     [30, 40],
     [50, 60], [70, 80], [100]]     # 규칙 3 x 2

for row in range(len(a1)):
    #print(a1[row])
    for col in range(len(a1[row])):
        print(a1[row][col])

10
20
30
40
50
60
70
80
100

In [170]:
a2 = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]   # 불규칙

for row in range(len(a2)):
    #print(a2[row])
    for col in range(len(a2[row])):
        print(a2[row][col])

10
20
500
600
700
9
30
40
8
800
900
1000

In [179]:
a = ((10, 20), (30, 40), (50,), (60, 70, 80))   # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50], [60, 70, 80])    # 튜플 안에 리스트를 넣은 2차원 튜플
c = [(10, 20), (30, 40), (50, 60)]              # 리스트 안에 튜플을 넣은 2차원 튜플

In [182]:
for i in range(len(a)):
    print(a[i])
    total = 0
    for j in range(len(a[i])):
        total = total + a[i][j]
    print("합계는.....", total)

(10, 20)
합계는..... 30
(30, 40)
합계는..... 70
(50,)
합계는..... 50
(60, 70, 80)
합계는..... 210

In [183]:
for i in range(len(b)):
    print(b[i])
    total = 0
    for j in range(len(b[i])):
        total = total + b[i][j]
    print("합계는.....", total)

[10, 20]
합계는..... 30
[30, 40]
합계는..... 70
[50]
합계는..... 50
[60, 70, 80]
합계는..... 210

In [181]:
for i in range(len(c)):
    print(c[i])
    total = 0
    for j in range(len(c[i])):
        total = total + c[i][j]
    print("합계는.....", total)

(10, 20)
합계는..... 30
(30, 40)
합계는..... 70
(50, 60)
합계는..... 110

In [188]:
a = ((10, 20), (30, 40), (50,), (60, 70, 80))   # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50], [60, 70, 80])    # 튜플 안에 리스트를 넣은 2차원 튜플
c = [(10, 20), (30, 40), (50, 60)]              # 리스트 안에 튜플을 넣은 2차원 튜플

In [189]:
a[0] = (1,2,3)    # 에러 -> 튜플이기 때문에 수정 불가능
a[0]

TypeError: 'tuple' object does not support item assignment

In [190]:
b[0] = (1,2,3)    # 에러 -> 튜플이기 때문에 수정 불가능
b[0]

TypeError: 'tuple' object does not support item assignment

In [192]:
b[0][0] = 99      # 리스트이기 때문에 수정가능
b[0]

[99, 20]

In [191]:
c[0] = (1,2,3)    # 리스트이기 때문에 수정가능
c[0]

(1, 2, 3)

In [196]:
a = ((10, 20), (30, 40), (50,), (60, 70, 80))   # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50], [60, 70, 80])    # 튜플 안에 리스트를 넣은 2차원 튜플
c = [(10, 20), (30, 40), (50,), (60, 70, 80)]   # 리스트 안에 튜플을 넣은 2차원 튜플

[a[i] for i in range(len(a))]          # 튜플 -> 리스트

# [a[i] + 100 for i in range(len(a))]    # 에러 => 튜플 변경 불가

[a[i][j] + 100 for i in range(len(a)) for j in range(len(a[i]))]

[110, 120, 130, 140, 150, 160, 170, 180]

In [198]:
a = [[10, 20], [30, 40], [50, 60]]

for val in a:
    print(val)
    for val2 in val:
        print(val2)

[10, 20]
10
20
[30, 40]
30
40
[50, 60]
50
60

In [199]:
a = [[10, 20], [30, 40], [50, 60]]

for val in a:
    print(val)
    x, y = val
    print(x, y)
    for val2 in val:
        print(val2)

[10, 20]
10 20
10
20
[30, 40]
30 40
30
40
[50, 60]
50 60
50
60

In [200]:
a, b = [10, 20]
c, d = (10, 20)
print(a, b)
print(c, d)

10 20
10 20

In [202]:
alist = []

for i in range(3):
    blist = []
    for j in range(2):
        blist.append(i+j*10)
    alist.append(blist)
print(alist)

[[0, 10], [1, 11], [2, 12]]

# 2차원 리스트 정렬

In [206]:
students = [
    ['zzilre', 'D', 29],
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

In [207]:
sorted(students)   ## 첫번째 값(디폴트 값)을 기준으로 정렬

[['andrew', 'B', 7],
 ['john', 'C', 19],
 ['maria', 'A', 25],
 ['zzilre', 'D', 29]]

In [208]:
sorted(students, reverse = True)   ## 첫번째 값(디폴트 값)을 기준으로 정렬

[['zzilre', 'D', 29],
 ['maria', 'A', 25],
 ['john', 'C', 19],
 ['andrew', 'B', 7]]

In [219]:
def mysort(s):
    return s[1]

In [220]:
mysort([10, 20, 30])

20

In [221]:
sorted(students, key = mysort)   ## 인덱스1 을 기준으로 정렬

[['maria', 'A', 25],
 ['andrew', 'B', 7],
 ['john', 'C', 19],
 ['zzilre', 'D', 29]]

In [223]:
# 익명함수 ... 이름 없는 함수  lambda
sorted(students, key = lambda aa:aa[1])   ## 인덱스1 을 기준으로 정렬

[['maria', 'A', 25],
 ['andrew', 'B', 7],
 ['john', 'C', 19],
 ['zzilre', 'D', 29]]

In [228]:
import copy

z = [1, 2, 3]
a = ['andrew','B', 7, z]
b = a                   # 주소 할당
c = a.copy()            # 값 을 복사
d = copy.deepcopy(a)    # 깊은 복사(리스트 안에 있는 것까지 복제) -> 완벽 복제

a[0] = "홍길동"
z[0] = 99
d[3][0] = 88
print(a)
print(b)
print(c)
print(d)

['홍길동', 'B', 7, [99, 2, 3]]
['홍길동', 'B', 7, [99, 2, 3]]
['andrew', 'B', 7, [99, 2, 3]]
['andrew', 'B', 7, [88, 2, 3]]

# 문자열 응용

In [230]:
s = "Hello, World"

# replace
print(s.replace("Hello", "***"))

# 원본은 유지
print(s)

***, World
Hello, World

In [354]:
table =  str.maketrans("abcdeo", "123456")  # a(97) -> 1(49)
print(table)

s1 = "python"
s2 = "Hello"

print(s1.translate(table))
print(s2.translate(table))

{97: 49, 98: 50, 99: 51, 100: 52, 101: 53, 111: 54}
pyth6n
H5ll6

In [369]:
s = '''
"거지같은 아이디어도 대환영..그게 애플·구글이 일하는 법"
한국, 무역흑자 1위 중국→홍콩..무역적자 1위는 일본
신종코로나 눈으로 전염?.."오염된 손으로 눈 만졌을 때 얘기"
신종 코로나 최악 시나리오.."4월 절정기에 수십만 감염 가능"
우한폐렴 확진자 동선 공개.."바이러스 수명 2~3일, 안 옮는다"
연인과 밤길 걷던 30대 남성 피습 사망..50대 긴급체포
"트럼프 '주한미군이 미국 안전하게 해주지않아..한국 돈내라'"
폭행·살해.. 또 반복된 '설 가족 비극'
민주 "신종코로나, 범국가 총력대응해야..정쟁은 방역역량 훼손"
400만 원 빚이 5억 원으로..합법의 탈을 쓴 '공증 사기'
'''

In [251]:
alist = s.split("\n")
alist = [i for i in alist if len(i) > 0]
alist

['"거지같은 아이디어도 대환영..그게 애플·구글이 일하는 법"',
 '한국, 무역흑자 1위 중국→홍콩..무역적자 1위는 일본',
 '신종코로나 눈으로 전염?.."오염된 손으로 눈 만졌을 때 얘기"',
 '신종 코로나 최악 시나리오.."4월 절정기에 수십만 감염 가능"',
 '우한폐렴 확진자 동선 공개.."바이러스 수명 2~3일, 안 옮는다"',
 '연인과 밤길 걷던 30대 남성 피습 사망..50대 긴급체포',
 '"트럼프 \'주한미군이 미국 안전하게 해주지않아..한국 돈내라\'"',
 "폭행·살해.. 또 반복된 '설 가족 비극'",
 '민주 "신종코로나, 범국가 총력대응해야..정쟁은 방역역량 훼손"',
 "400만 원 빚이 5억 원으로..합법의 탈을 쓴 '공증 사기'"]

In [243]:
" ".join(alist)    ##### 리스트 -> 문자열 #####

'"거지같은 아이디어도 대환영..그게 애플·구글이 일하는 법" 한국, 무역흑자 1위 중국→홍콩..무역적자 1위는 일본 신종코로나 눈으로 전염?.."오염된 손으로 눈 만졌을 때 얘기" 신종 코로나 최악 시나리오.."4월 절정기에 수십만 감염 가능" 우한폐렴 확진자 동선 공개.."바이러스 수명 2~3일, 안 옮는다" 연인과 밤길 걷던 30대 남성 피습 사망..50대 긴급체포 "트럼프 \'주한미군이 미국 안전하게 해주지않아..한국 돈내라\'" 폭행·살해.. 또 반복된 \'설 가족 비극\' 민주 "신종코로나, 범국가 총력대응해야..정쟁은 방역역량 훼손" 400만 원 빚이 5억 원으로..합법의 탈을 쓴 \'공증 사기\''

In [247]:
s = "     python     "
print("*" + s.lstrip() + "*")
print("*" + s.rstrip() + "*")
print("*" + s.strip() + "*")

print("-" * 70)

s = ".....,python,....."
print("*" + s.lstrip(",.") + "*")
print("*" + s.rstrip(",.") + "*")
print("*" + s.strip(",.") + "*")

*python     *
*     python*
*python*
----------------------------------------------------------------------
*python,.....*
*.....,python*
*python*

In [372]:
alist = s.split()
alist = [i for i in alist if len(i) > 5]

alist = [val.strip('"') for val in alist]
alist

['대환영..그게',
 '애플·구글이',
 '중국→홍콩..무역적자',
 '전염?.."오염된',
 '시나리오.."4월',
 '공개.."바이러스',
 '사망..50대',
 "'주한미군이",
 '해주지않아..한국',
 '폭행·살해..',
 '신종코로나,',
 '총력대응해야..정쟁은',
 '원으로..합법의']

In [262]:
import string

# string.punctuation    =>  모든 특수문자가 다 들어 있다.

'!"#$%&\'()*+,-./파이썬:;<=>?@[\\]^_`{|}~'.strip(string.punctuation).upper()

'파이썬'

In [263]:
'35'.zfill(10)     # 0 으로 채우기

'0000000035'

In [375]:
s = "Hello Python Python"

print(s.find("Py"))      ## 왼쪽 부터
print(s.find("Py2"))           #-> 없으면 '-1' 반환
print(s.rfind("Py"))     ## 오른쪽 부터

print(s.index("Py"))     ## 왼쪽부터
# print(s.index("Py2"))        #-> 없으면 에러
print(s.rindex("Py"))    ## 오른쪽 부터

6
-1
13
6
13

In [376]:
s = "Pytnon"

print("파이썬 수업중", s, "입니다.")
print("파이썬 수업중" + s + "입니다.")
print()
print("파이썬 수업중 %s 입니다." %s)
print("파이썬 수업중 %10s 입니다." %s)
print("파이썬 수업중 %-10s 입니다." %s)
print("파이썬 수업중 %-10s %d %f %.2f 입니다." %(s, 100, 3.141592, 3.141592))
print()
print("파이썬 {} {} {} 입니다.".format(s, 100, 3.141592))
print("파이썬 {2} {1} {0} 입니다.".format(s, 100, 3.141592))
print("파이썬 {2:.2f} {1} {0} 입니다.".format(s, 100, 3.141592))
print()
print("파이썬 {a} {c} {b} 입니다.".format(a = s, b = 100, c = 3.141592))

파이썬 수업중 Pytnon 입니다.
파이썬 수업중Pytnon입니다.

파이썬 수업중 Pytnon 입니다.
파이썬 수업중     Pytnon 입니다.
파이썬 수업중 Pytnon     입니다.
파이썬 수업중 Pytnon     100 3.141592 3.14 입니다.

파이썬 Pytnon 100 3.141592 입니다.
파이썬 3.141592 100 Pytnon 입니다.
파이썬 3.14 100 Pytnon 입니다.

파이썬 Pytnon 3.141592 100 입니다.

In [282]:
path = "C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe"                                    

alist = path.split("\\")
filename = alist[-1]

print(filename)

python.exe

# 딕셔너리 응용

In [289]:
a = {'name':'홍길동', 'age':20}

# 추가
a.setdefault('name2')
a.setdefault('name3', '김길동')

# 수정은 불가능
a.setdefault('name', '김길동')


# 추가, 수정
a.update(name = '김길동', addr = '역삼동')
a.update({"age":30, "age2":40})
a.update([["addr", "선릉"], ["addr2", "선릉"]])
a.update([["addr", "잠실"], ["addr3", "잠실"]])

a

{'name': '김길동',
 'age': 30,
 'name2': None,
 'name3': '김길동',
 'addr': '잠실',
 'age2': 40,
 'addr2': '선릉',
 'addr3': '잠실'}

In [290]:
a.pop("addr3")

'잠실'

In [291]:
a

{'name': '김길동',
 'age': 30,
 'name2': None,
 'name3': '김길동',
 'addr': '잠실',
 'age2': 40,
 'addr2': '선릉'}

In [292]:
a.pop("addr2")

'선릉'

In [293]:
a

{'name': '김길동',
 'age': 30,
 'name2': None,
 'name3': '김길동',
 'addr': '잠실',
 'age2': 40}

In [296]:
a = {"name":"홍길동", "age":20, "addr":"seoul"}

a.keys()
a.values()

for key, val in a.items():
    print(key, val, sep = " ---> ")

name ---> 홍길동
age ---> 20
addr ---> seoul

In [304]:
# dict
{key : val for key, val in a.items()}

# set
{(key , val) for key, val in a.items()}

# list
[(key , val) for key, val in a.items()]
[[key , val] for key, val in a.items()]

# tuple
tuple((key, val) for key, val in a.items())

(('name', '홍길동'), ('age', 20), ('addr', 'seoul'))

In [305]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Mars']['mean_radius'])

3389.5

In [310]:
for key, val in terrestrial_planet.items():
    print(key, val, sep = " --> ")
    for k, v in val.items():
        print(k, v, sep = " =======> ")
    print()

Mercury --> {'mean_radius': 2439.7, 'mass': 3.3022e+23, 'orbital_period': 87.969}
mean_radius =======> 2439.7
mass =======> 3.3022e+23
orbital_period =======> 87.969

Venus --> {'mean_radius': 6051.8, 'mass': 4.8676e+24, 'orbital_period': 224.70069}
mean_radius =======> 6051.8
mass =======> 4.8676e+24
orbital_period =======> 224.70069

Earth --> {'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}
mean_radius =======> 6371.0
mass =======> 5.97219e+24
orbital_period =======> 365.25641

Mars --> {'mean_radius': 3389.5, 'mass': 6.4185e+23, 'orbital_period': 686.96}
mean_radius =======> 3389.5
mass =======> 6.4185e+23
orbital_period =======> 686.96

In [314]:
# 연습문제 #
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
                                          
average = sum(maria.values())/len(maria)
print(average)

89.25

# set 세트

In [324]:
# set : 중복 불가, 순서 없음
fruits = {'orange', 'orange', 'cherry', 'orange', 'cherry', 'orange', 'cherry'}
print(type(fruits))

# list : 중복 가능, 순서 있음, 수정 가능
fruits2 = ['orange', 'orange', 'cherry', 'orange', 'cherry', 'orange', 'cherry']

# tuple : 중복 가능, 순서 있음, 수정 불가
fruits3 = ('orange', 'orange', 'cherry', 'orange', 'cherry', 'orange', 'cherry')

print(fruits)
print(fruits2)
print(fruits3)

print(set(fruits2))
print(set(fruits3))

<class 'set'>
{'orange', 'cherry'}
['orange', 'orange', 'cherry', 'orange', 'cherry', 'orange', 'cherry']
('orange', 'orange', 'cherry', 'orange', 'cherry', 'orange', 'cherry')
{'orange', 'cherry'}
{'orange', 'cherry'}

In [321]:
a = {}
a2 = dict()
print(a, type(a), a2, type(a2))

b = set()
print(b, type(b))

{} <class 'dict'> {} <class 'dict'>
set() <class 'set'>

In [377]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# 합집합
print(a|b)
print(a.union(b))
print(set.union(a, b))

print()

# 교집합
print(a & b)
print(a.intersection(b))
print(set.intersection(a, b))

print()

# 차집합
print(a - b)
print(set.difference(a, b))

print()

# 대칭 차집합 = XOR (다르면 참이다) = 합집합 - 교집합
print(a^b)
print(set.symmetric_difference(a, b))

print()

print(a|b)      ## 1 줄
a |= b          ## 2 줄
print(a)
a.update(b)     ## 3 줄 다 같음!!
print(a)

a

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

{3, 4}
{3, 4}
{3, 4}

{1, 2}
{1, 2}

{1, 2, 5, 6}
{1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [378]:
s = "apple"
[i for i in s]

['a', 'p', 'p', 'l', 'e']

In [347]:
s = "apple"
{i for i in s}

{'a', 'e', 'l', 'p'}