In [2]:
import sys
sys.version

'3.6.10 |Anaconda, Inc.| (default, Jan  7 2020, 15:18:16) [MSC v.1916 64 bit (AMD64)]'

In [1]:
import sys
sys.version

'3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]'

In [3]:
!conda list

# packages in environment at C:\Users\student\Anaconda3\envs\multicamp:
#
# Name                    Version                   Build  Channel
backcall                  0.1.0                    pypi_0    pypi
certifi                   2019.11.28               py36_0
colorama                  0.4.3                    pypi_0    pypi
decorator                 4.4.1                    pypi_0    pypi
ipykernel                 5.1.3                    pypi_0    pypi
ipython                   7.11.1                   pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
jedi                      0.15.2                   pypi_0    pypi
jupyter-client            5.3.4                    pypi_0    pypi
jupyter-core              4.6.1                    pypi_0    pypi
parso                     0.5.2                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pip                       19.3.1                   py36_0
prompt-toolkit            3.0.2                    pypi_0    pypi
pygments                  2.5.2                    pypi_0    pypi
python                    3.6.10               h9f7ef89_0
python-dateutil           2.8.1                    pypi_0    pypi
pywin32                   227                      pypi_0    pypi
pyzmq                     18.1.1                   pypi_0    pypi
setuptools                44.0.0                   py36_0
six                       1.14.0                   pypi_0    pypi
sqlite                    3.30.1               he774522_0
tornado                   6.0.3                    pypi_0    pypi
traitlets                 4.3.3                    pypi_0    pypi
vc                        14.1                 h0510ff6_4
vs2015_runtime            14.16.27012          hf0eaf9b_1
wcwidth                   0.1.8                    pypi_0    pypi
wheel                     0.33.6                   py36_0
wincertstore              0.2              py36h7fe50ca_0

# 마크다운

*이탤릭체* <br> **볼드** <br> ***이탤릭체 볼드***

- 번호 없는 리스트
* 번호 없는 리스트
+ 번호 없는 리스트

1. 번호 있는 리스트
2. 번호 있는 리스트
3. 번호 있는 리스트

$$ \sqrt(2) $$

# magic

In [8]:
%time    # 어떤 코드를 돌리는데 시간이 얼마나 걸리는지 보여줌

Wall time: 0 ns

In [25]:
# txt 파일로 저장해줌
%%writefile abc.txt

파이썬배우기
파이썬배우기

UsageError: Line magic function `%%writefile` not found.

In [26]:
%%writefile abc.txt

파이썬배우기
파이썬배우기

Writing abc.txt

# 출력

In [23]:
# 쥬피터는 마지막 문장만 출력하기 때문에 print를 해주어야 한다

%%writefile test.py
print("파이썬")
print(10 + 20)

UsageError: Line magic function `%%writefile` not found.

In [27]:
%%writefile test.py
print("파이썬")
print(10 + 20)

Writing test.py

In [28]:
!python test.py

파이썬
30

# 세미콜론

In [29]:
print("파이썬")
print(10 + 20)

파이썬
30

In [32]:
print("파이썬");print(10 + 20)

파이썬
30

# 주석

In [33]:
# R언어, 파이썬언어 의 주석은 #
# PLSQL 언어의 주석은 --

# aa    # 여러줄 주석을 하고 싶을 때 여러줄 드래그해서 ctrl + /
# bb

# 들여쓰기

In [45]:
# 파이썬은 들여쓰기로 블럭을 잡는다.

In [37]:
a = 10

In [38]:
if a == 10:
    print ("a는 10입니다.")
    print ("곧 점심 시간입니다.")

a는 10입니다.
곧 점심 시간입니다.

In [41]:
if a == 10:
    print ("a는 10입니다.")
print ("곧 점심 시간입니다.")

a는 10입니다.
곧 점심 시간입니다.

In [39]:
if a == 10:
print ("a는 10입니다.")
print ("곧 점심 시간입니다.")

IndentationError: expected an indented block (<ipython-input-39-d2a4cddf031f>, line 2)

In [42]:
a = 20

In [43]:
if a == 10:
    print ("a는 10입니다.")
    print ("곧 점심 시간입니다.")

In [44]:
if a == 10:
    print ("a는 10입니다.")
print ("곧 점심 시간입니다.")

곧 점심 시간입니다.

# 숫자 계산

In [46]:
10/3

3.3333333333333335

In [57]:
10/3, 10//3, 10%3, int(10/3), int('20')+30, divmod(10, 3)    # (몫, 나머지)

(3.3333333333333335, 3, 1, 3, 50, (3, 1))

# 객체 자료형

In [55]:
# R : typeof(), mode(), class()

# Python :
a = 10          # int
a = "파이썬"    # str
a = 3.14        # float
a = 10 > 20     # bool    => 값이 들어가면 자동으로 타입이 정해진다 : 동적 타이핑
type(a), a

(bool, False)

In [62]:
a, b = divmod(10, 3)
print("몫", a)
print("나머지", b)

몫 3
나머지 1

# 변수 
변하는 수, 값을 저장하기 위한 저장 장소

In [65]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [69]:
a, b, c = 10, 20     # 에러
print(a, b, c)

ValueError: not enough values to unpack (expected 3, got 2)

In [68]:
a, b, c = 10, 10, 10
a = b = c = 10
print(a, b, c)

10 10 10

In [70]:
s = '20'
s + 30

TypeError: can only concatenate str (not "int") to str

In [71]:
s = '20'
int(s) + 30

50

In [72]:
int = 40            # 변수이름을 int로 지정하면 안됨!!!
int(int) + 30

TypeError: 'int' object is not callable

In [73]:
del int    # int 변수 삭제하기

In [74]:
str(10) + '30'

'1030'

In [75]:
str = 'Hello'
print(str)

Hello

In [76]:
del str

In [77]:
a = None     # 결정된 값이 없음
a

In [78]:
d = 20
d = d + 10
d += 10
d

40

# input

In [79]:
a = input( '숫자 1을 입력 >> ')
b = input( '숫자 2를 입력 >> ')
print( a + b )

숫자 1을 입력 >> 10
숫자 2를 입력 >> 20
1020

In [97]:
a, b = input('숫자입력 (10,20) >>>').split(",")
print(int(a + b))

숫자입력 (10,20) >>>10,20
1020

In [98]:
a, b = input('숫자입력 (10,20) >>>').split(",")
print(a + b)

숫자입력 (10,20) >>>10,20
1020

In [99]:
a, b = input('숫자입력 (10,20) >>>').split(",")
print(int(a) + int(b))

숫자입력 (10,20) >>>10,20
30

In [91]:
a, b = map(int, input("숫자 2개를  공백으로 분리하여 입력 >>").split())
print(a + b)

숫자 2개를  공백으로 분리하여 입력 >>100 200
300

In [100]:
%%writefile practice_input_split.py

a, b, c = map(int, input("숫자 3개를  공백으로 분리하여 입력 >>").split())
print(a + b + c)

Writing practice_input_split.py

In [ ]:
! python practice_input_split.py

# 출력 방법

In [1]:
print(1, end = '\n')
print(2)

1
2

In [6]:
print(1, end = '    ')
print(2, 10, 20, sep = '*', end = '^__^')

1    2*10*20^__^

In [7]:
# 연습문제 #
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep = '/', end = '  ')
print(hour, minute, second, sep = ':')

2000/10/27  11:43:59

# 불, 비교, 논리 연산자

In [8]:
a = 1
a == 10

False

In [9]:
1 == 1.0

True

In [10]:
1 is 1.0

False

In [14]:
a = 10
b = 10
c = 1.0

print(a==b)
print(a is b)
print(a==c)
print(a is c)

print(id(a))
print(id(b))
print(id(c))

True
True
False
False
140716932440752
140716932440752
1908948350640

In [19]:
# 산술 연산자 우선순위 : * / , + , -
# 논리 연산자 우선순위 : not , and , or

not True and False or not False

(not True) and False or (not False)

((not True) and False) or (not False)

True

In [31]:
# 값이 있으면 True 값이 없으면 False

bool(' '), bool(0), bool(None), bool(0.0), bool('aaa'), bool(not None), bool(1.0)

(True, False, False, False, True, True, True)

In [33]:
# 연습문제 #
korean = 92
english = 47
mathematics = 86
science = 81
 
print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

# 문자열 사용하기

In [35]:
## 에러
aa = 'aaaaaaaaaaaaaaaaaaaaa      
aaaaaaaaaaaaaaaa'

SyntaxError: EOL while scanning string literal (<ipython-input-35-943f2afcb44b>, line 1)

In [41]:
aa = "aaaaaaaaaaaaaaaaaaaaa  \
aaaaaaaaaaaaaaaa"
aa

'aaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaaaa'

In [49]:
## 에러
news = "김사부2 안효섭 위협하는 건달, 이성경의 조폭이 해결하나[TV보고서]
개리·길, 돌아온다..무대 아닌 예능으로 복귀 시동
황제성 "'나혼자산다'서 예쁜 아들 공개, 난 4.5kg 슈퍼우량아로 태어나"
이승준 "♥김소니아, 열애 고백 행복하다고..올해 결혼 생각"(인터뷰)
이연복, '미스트롯' 3인방 이어 '친한예능' 출격..한국의 맛 보여준다
이하이, 메이크어스와 전속계약.. 선미와 한솥밥
'라디오쇼' 박명수, 이병헌에 "기어이 찾아왔다..반갑다 친구야"[Oh!쎈 리뷰]
동물예능 연이은 실패.. '개는 훌륭하다'가 살아남은 이유
4인조 재편 젝스키스, '해투4' 완전체 출격..스페셜MC 천명훈(공식)
이희준 "아침에 일어나면 108배, 캐릭터 치유하는데 도움""

SyntaxError: EOL while scanning string literal (<ipython-input-49-f60c2be0edde>, line 2)

In [50]:
news = '''
김사부2 안효섭 위협하는 건달, 이성경의 조폭이 해결하나[TV보고서]
개리·길, 돌아온다..무대 아닌 예능으로 복귀 시동
황제성 "'나혼자산다'서 예쁜 아들 공개, 난 4.5kg 슈퍼우량아로 태어나"
이승준 "♥김소니아, 열애 고백 행복하다고..올해 결혼 생각"(인터뷰)
이연복, '미스트롯' 3인방 이어 '친한예능' 출격..한국의 맛 보여준다
이하이, 메이크어스와 전속계약.. 선미와 한솥밥
'라디오쇼' 박명수, 이병헌에 "기어이 찾아왔다..반갑다 친구야"[Oh!쎈 리뷰]
동물예능 연이은 실패.. '개는 훌륭하다'가 살아남은 이유
4인조 재편 젝스키스, '해투4' 완전체 출격..스페셜MC 천명훈(공식)
이희준 "아침에 일어나면 108배, 캐릭터 치유하는데 도움"
'''
news

'\n김사부2 안효섭 위협하는 건달, 이성경의 조폭이 해결하나[TV보고서]\n개리·길, 돌아온다..무대 아닌 예능으로 복귀 시동\n황제성 "\'나혼자산다\'서 예쁜 아들 공개, 난 4.5kg 슈퍼우량아로 태어나"\n이승준 "♥김소니아, 열애 고백 행복하다고..올해 결혼 생각"(인터뷰)\n이연복, \'미스트롯\' 3인방 이어 \'친한예능\' 출격..한국의 맛 보여준다\n이하이, 메이크어스와 전속계약.. 선미와 한솥밥\n\'라디오쇼\' 박명수, 이병헌에 "기어이 찾아왔다..반갑다 친구야"[Oh!쎈 리뷰]\n동물예능 연이은 실패.. \'개는 훌륭하다\'가 살아남은 이유\n4인조 재편 젝스키스, \'해투4\' 완전체 출격..스페셜MC 천명훈(공식)\n이희준 "아침에 일어나면 108배, 캐릭터 치유하는데 도움"\n'

In [51]:
news = '''
김사부2 안효섭 위협하는 건달, 이성경의 조폭이 해결하나[TV보고서]
개리·길, 돌아온다..무대 아닌 예능으로 복귀 시동
황제성 "'나혼자산다'서 예쁜 아들 공개, 난 4.5kg 슈퍼우량아로 태어나"
이승준 "♥김소니아, 열애 고백 행복하다고..올해 결혼 생각"(인터뷰)
이연복, '미스트롯' 3인방 이어 '친한예능' 출격..한국의 맛 보여준다
이하이, 메이크어스와 전속계약.. 선미와 한솥밥
'라디오쇼' 박명수, 이병헌에 "기어이 찾아왔다..반갑다 친구야"[Oh!쎈 리뷰]
동물예능 연이은 실패.. '개는 훌륭하다'가 살아남은 이유
4인조 재편 젝스키스, '해투4' 완전체 출격..스페셜MC 천명훈(공식)
이희준 "아침에 일어나면 108배, 캐릭터 치유하는데 도움"
'''
news.split('\n')    # \n 은 newline 을 의미

['',
 '김사부2 안효섭 위협하는 건달, 이성경의 조폭이 해결하나[TV보고서]',
 '개리·길, 돌아온다..무대 아닌 예능으로 복귀 시동',
 '황제성 "\'나혼자산다\'서 예쁜 아들 공개, 난 4.5kg 슈퍼우량아로 태어나"',
 '이승준 "♥김소니아, 열애 고백 행복하다고..올해 결혼 생각"(인터뷰)',
 "이연복, '미스트롯' 3인방 이어 '친한예능' 출격..한국의 맛 보여준다",
 '이하이, 메이크어스와 전속계약.. 선미와 한솥밥',
 '\'라디오쇼\' 박명수, 이병헌에 "기어이 찾아왔다..반갑다 친구야"[Oh!쎈 리뷰]',
 "동물예능 연이은 실패.. '개는 훌륭하다'가 살아남은 이유",
 "4인조 재편 젝스키스, '해투4' 완전체 출격..스페셜MC 천명훈(공식)",
 '이희준 "아침에 일어나면 108배, 캐릭터 치유하는데 도움"',
 '']

In [44]:
a = 'Python "P"rogram'
a

'Python "P"rogram'

In [45]:
a = "Python 'P'rogram"
a

"Python 'P'rogram"

In [47]:
a = "Python \"P\"rogram"
a

'Python "P"rogram'

In [48]:
a = '''Python "P"rogram'''
a

'Python "P"rogram'

# 리스트
변수에 값을 여러 개 ( R : 벡터 ), 서로 다른 타입도 가능, 값 변경 가능

In [52]:
# R
# a = c(1, 2, "3", 4, 5)    -> 서로 다른 타입의 데이터 넣을 수 없다.

# Python
a = [1, 2, "3", 4, 5, True, 1+2j, 3.14]    # -> 서로 다른 타입의 데이터 넣을 수 있다.

In [58]:
# index, 첨자   =>  첨자가 1부터 시작하는 언어들 : PL/SQL , R   =>  그 밖의 언어들은 0부터 시작
a[0], a[2], type(a[5]), type(a[6]), type(a[7])

(1, '3', bool, complex, float)

In [60]:
a = []
a = list()

type(a)

list

In [72]:
a = range(10)          # 0 <=   < 10
a = range(1, 11)       # 1 <=   < 11
a = range(1, 11, 2)    # 홀수
a = range(2, 11, 2)    # 짝수
a = range(10, 0, -1)

b = list(a)
b[0] = 999            ##### 리스트는 값 변경 가능

a , b

(range(10, 0, -1), [999, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# 튜플
변수에 값을 여러 개, 서로 다른 타입도 가능, 값 변경 불가능

In [70]:
a, b, c = 10, 20, 30
a = 10, 20, 30        # = 튜플
a = (10, 20, 30)      # = 튜플
type(a)

tuple

In [71]:
a = (10, 20, "30")
a[0], a[2]

(10, '30')

In [73]:
a = (10, 20, "30")
a[0] = 999               ##### 튜플은 값 변경 불가능

TypeError: 'tuple' object does not support item assignment

In [74]:
a = 10, 20, 30
type(a)

tuple

In [75]:
a = 10
type(a)

int

In [76]:
a = (10)    # 연산식의 괄호로 인식
type(a)

int

In [78]:
a = (10,)   # 튜플에서 값을 하나만 입력하고 싶을 때
type(a)

tuple

In [84]:
a = range(10)

print(a, type(a))
print(list(a))
print(tuple(a))

for i in a:
    print(i, "입니다.")

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
0 입니다.
1 입니다.
2 입니다.
3 입니다.
4 입니다.
5 입니다.
6 입니다.
7 입니다.
8 입니다.
9 입니다.

In [87]:
a = 'Python'
print(a[0], a[5])

b = list(a)
c = tuple(a)

print(a, b, c)

P n
Python ['P', 'y', 't', 'h', 'o', 'n'] ('P', 'y', 't', 'h', 'o', 'n')

In [88]:
a = 10, 20, 30   # 패킹
b, c, d = a      # 언패킹

print(a, b, c, d, sep = "*")

(10, 20, 30)*10*20*30

In [91]:
# 연습 문제 #
a = list(range(5, -10, -2))

print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [93]:
sum = 0
for val in range(5, -10, -2):
    sum += val

print("합계는", sum)

합계는 -16