# 복습

In [6]:
# 객체 (object) : 속성 + 행위
# class : object 를 만드는 틀

In [7]:
a = 10
print(type(10))

<class 'int'>

In [8]:
dir(a)    # 사용할 수 있는 함수들

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [9]:
a + 20

30

In [11]:
a.bit_length()   # a = 1010

4

In [12]:
a = 10
a = "Hello"
a = 3.14
a = 10 > 20
a = [10, 20, 30]
a = (10, 20, 30)
a = range(5)
dir(a)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

# 시퀀스

In [15]:
# Sequence : 리스트, 튜플, range, 문자열   =>  "순서"가 있는 데이터 타입!

a = [10, 20, 30, 40, 50]   # 리스트
a = (10, 20, 30, 40, 50)   # 튜플
a = 10, 20, 30, 40, 50     # 튜플
a = range(10)              # 0 <=   < 10
a = range(10, 110, 10)
a = "Hello"
a[1]

'e'

### 존재 유무

In [19]:
a = [10, 20, 30, 40, 50]   # 리스트
b = (10, 20, 30, 40, 50)   # 튜플
c = range(10)
d = "Python"

print(40 in a)
print(45 in b)
print(10 in c)
print("j" in d)

for val in [10, 20, 30, 40, 50]:
    print(val)

True
False
False
False
10
20
30
40
50

### 객체 연결

In [22]:
a = [1,2,3]
b = [4,5,6]

dir(a)
a.__add__(b)   # 함수 이용해서 더하기(연결하기)

a + b

[1, 2, 3, 4, 5, 6]

In [24]:
a = (1,2,3)
b = (4,5,6)

dir(a)
a + b

(1, 2, 3, 4, 5, 6)

In [29]:
a = range(5)
b = range(6, 11)

# dir(a)  => add 함수 없네!! range는 연결이 불가능!!
a + b

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [28]:
a = list(range(5))       # [0, 1, 2, 3, 4]
b = list(range(6, 11))   # [6, 7, 8, 9, 10]

a + b

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [30]:
a = "Hello"
b = "world"

a + b

'Helloworld'

In [34]:
a = "10"
b = 20

# a + b            # 불가능
print(a + str(b))  # 문자 더하기 = 연결
print(int(a) + b)  # 숫자 더하기 = 연산

1020
30

### 객체 반복

In [35]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [37]:
(1) * 3     # 이건 반복이 아니라 연산이 됨

3

In [38]:
(1,) * 3

(1, 1, 1)

In [39]:
"Hello" * 3

'HelloHelloHello'

In [41]:
# range(5) * 3   ## 불가능!!
list(range(5)) * 3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

### 길이

In [45]:
a = [1, 2, 3, 4, 5]
a = 1, 2, 3
a = range(10)
a = "Hello"
a = "안녕하세요"
b = a.encode("utf-8")   # 한글 1자 -> 3 bite 처리
b = a.encode("cp949")   # 한글 1자 -> 2 bite 처리
b, len(b)

(b'\xbe\xc8\xb3\xe7\xc7\xcf\xbc\xbc\xbf\xe4', 10)

# 인덱스

In [50]:
# index의 음수는 마지마을 기준으로 한다. (방향이 반대 의미)

a = [10, 20, 30, 40, 50]
a = (10, 20, 30, 40, 50)
a = range(10, 60, 10)
a = "Hello World~"

print(a[0], a[-5], sep = '--')

H--o

### 요소에 값 할당하기

In [55]:
# sequence 객체 중에 list 만 변경 가능!!

a = [1, 2, 3, 4, 5]

# a = (1, 2, 3, 4, 5)    # 튜플은 데이터 변경 불가
# a = range(10)          # range도 데이터 변경 불가
# a = "Hello"            # 문자도 데이터 변경 불가

a[0] = 99
a[-1] = 88
# a[5] = 77   #에러
a[len(a)-1] = 77

print(a)

[99, 2, 3, 4, 77]

### del로 요소 삭제하기

In [ ]:
# list 만 삭제 가능!!

a = [1, 2, 3, 4, 5]

# a = (1, 2, 3, 4, 5)    # 튜플은 데이터 변경 불가
# a = range(10)          # range도 데이터 변경 불가
# a = "Hello"            # 문자도 데이터 변경 불가

del a[0]

print(a)

# 슬라이스
모든 시퀀스가 슬라이싱이 가능하다!!

In [68]:
a = list(range(10, 110, 10))

print(a)
print(a[0], a[-1])
print(a[0:5])       # 0 <=  < 5
print(a[6:9])
print(a[6:9:1])
print(a[6:9:2])   # start : end : step
print(a[6:6])
print(a[6:7])
print(a[6:7:1])
print(a[6:7:2])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
10 100
[10, 20, 30, 40, 50]
[70, 80, 90]
[70, 80, 90]
[70, 90]
[]
[70]
[70]
[70]

In [72]:
a = list(range(10, 110, 10))

print(a)
print(a[4:-1])    # 4 <=  < -1
print(a[-2:-1])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[50, 60, 70, 80, 90]
[90]

In [81]:
a = list(range(10, 110, 10))
a = tuple(range(10, 110, 10))   # 튜플도 가능!!
a = range(10, 110, 10)          # range 도 가능!!
a = "Hello World"               # 문자도 가능!!

print(a)
print(a[::])
print(a[::2])
print(a[:5:2])
print(a[2::2])
print(a[1:5:1])
print(a[::-1])

range(10, 110, 10)
range(10, 110, 10)
range(10, 110, 20)
range(10, 60, 20)
range(30, 110, 20)
range(20, 60, 10)
range(100, 0, -10)

In [3]:
# 연습 문제
filename = "20200123-105501.jpg"

year = filename[0:4]
month = filename[4:6]
day = filename[6:8]
hour = filename[9:11]
minute = filename[11:13]
ext = filename[-3:]

print(year, month, day, hour, minute, ext)

2020 01 23 10 55 jpg

In [5]:
s = slice(0,3,1)

a = [1,2,3,4,5,6,7]
b = (10,20,30,40,50)
c = "빨리 점심먹자"
d = range(10)

a[s], b[s], c[s], d[s]

([1, 2, 3], (10, 20, 30), '빨리 ', range(0, 3))

In [17]:
## 슬라이스에 요소 할당하기

a = list(range(10,110,10))
print(a)

a[3:6] = ['a', 'b', 'c']
print(a)

a[3:6] = ['a']
print(a)

a[3:6] = ['a', 'b', 'c', 'd', 'e']
print(a)


## 슬라이스를 이용해서 값 변경시
## step 이 있는 경우는 개수가 일치해야 한다. (step이 1인 경우 제외)

# 3, 5
# a[3:6:2] = ['a', 'b', 'c', 'd']   ## 에러
# print(a)

# a[3:6:2] = ['a']                  ## 에러
# print(a)

a = list(range(10,110,10))
a[3:6:2] = ['a', 'b']
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 'a', 'b', 'c', 70, 80, 90, 100]
[10, 20, 30, 'a', 70, 80, 90, 100]
[10, 20, 30, 'a', 'b', 'c', 'd', 'e', 90, 100]
[10, 20, 30, 'a', 50, 'b', 70, 80, 90, 100]

In [20]:
# 연습 문제

year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
 
print(year[-3:])
print(population[-3: len(population)])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [27]:
# 연습 문제

n = (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)

print(n[1::2])  # 홀수
print(n[::2])   # 짝수

for val in n:
    print(val, end = " ")
    if val > 0:
        print("양수")
    else:
        print("음수")

(75, -10, 32, -15, 76, 2)
(-32, 97, 9, 4, 0, 14)
-32 음수
75 양수
97 양수
-10 음수
9 양수
32 양수
4 양수
-15 음수
0 음수
76 양수
14 양수
2 양수

# 딕셔너리

In [32]:
# 자바 스크립트 : JSON (JavaScript Object Notation)
# 파이썬 : Dictionary

lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [52]:
bithem = { 
    "status": "0000",
        "data": {
            "opening_price": "504000",
            "closing_price": "505000",
            "min_price": "504000",
            "max_price": "516000",
            "units_traded": "14.71960286",
            "acc_trade_value": "16878100",
            "prev_closing_price": "503000",
            "units_traded_24H": "1471960286",
            "acc_trade_value_24H": "16878100",
            "fluctate_24H": "1000",
            "fluctate_rate_24H": 0.19,
            "date": "1417141032622"
            }
    }
type(bithem)

dict

In [33]:
# 키가 중복되면 나중에 온 키가 사용된다.

lux = {'health': 490, 'health': 880, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'health': 880, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [34]:
lux = {'health': 490, 'health': 880, 'mana': 334, 'melee': 550, 'armor': 18.72,
       100 : "백점",      # 키가 숫자인 경우
       True : "합격"}    # 키가 불인 경우
lux

{'health': 880,
 'mana': 334,
 'melee': 550,
 'armor': 18.72,
 100: '백점',
 True: '합격'}

In [36]:
dict(zip(["A", "B", "C"], [100, 200, 300]))

{'A': 100, 'B': 200, 'C': 300}

In [37]:
dict()

{}

In [38]:
dict(A = 100, B = 200, C = 300)

{'A': 100, 'B': 200, 'C': 300}

In [39]:
dict([("A", 100), ("B", 200), ("C", 300)])

{'A': 100, 'B': 200, 'C': 300}

In [46]:
score = {'A': 100, 'B': 200, 'C': 300}

score["A"] = 90        # 수정
score["홍길동"] = 99   # 추가

print(score["A"])
print(score)
# print(score["D"])    # 에러

# 존재 유무
print("D" in score)
print("홍길동" in score)

# 키의 개수
print(len(score))

90
{'A': 90, 'B': 200, 'C': 300, '홍길동': 99}
False
True
4

In [48]:
score = {'A': 100, 'B': 200, 'C': 300}

for key in score:
    print(key, "->", score[key])

A -> 100
B -> 200
C -> 300

In [50]:
# 연습 문제

camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}
 
print(camille['health'])
print(camille['movement_speed'])

575.6
340

In [57]:
bithem = { 
    "status": "0000",
        "data": {
            "opening_price": "504000",
            "closing_price": "505000",
            "min_price": "504000",
            "max_price": "516000",
            "units_traded": "14.71960286",
            "acc_trade_value": "16878100",
            "prev_closing_price": "503000",
            "units_traded_24H": "1471960286",
            "acc_trade_value_24H": "16878100",
            "fluctate_24H": "1000",
            "fluctate_rate_24H": 0.19,
            "date": "1417141032622"
            }
    }

#1
c = bithem["data"]
print(c["closing_price"])

#2
print(bithem["data"]["closing_price"])

505000
505000

# if 조건문

In [59]:
a = 10

if a > 10:
    print("너무 커")
else:
    print("OK")
print("END~~")

OK
END~~

In [60]:
a = 10

if a > 10:
    pass          # 나중에 수정하려고 할 때 문법상 구조는 맞추고 싶을 때 사용
else:
    print("OK")
print("END~~")

OK
END~~

In [64]:
# 연습 문제
#1
x = 2
 
if x != 5:
    print('ok')

#2
x = 2

if x == 5:
    pass
else:
    print('ok')

ok
ok

### if 축약 표현

In [69]:
a = 10

# a가 10 이상이면 합격, 그렇지 않으면 불합격
result = ""
if a >= 10:
    result = "합격"
else:
    result = "불합격"
print(result)


result = "합격" if a >= 10 else "불합격"
print(result)

합격
합격

### elif

In [73]:
# 90 이상 "A"
# 80 이상 "B"
# 70 이상 "C"
# 60 이상 "D"
# 나머지 "F"

score = 98

#나
result = "A" if score >= 90 else "B" if score >= 80 else "C" if score >= 70 else "D" if score >= 60 else "F"
print(result)


grade = ""
if score >= 90:
    grade = "A"
else:
    if score >= 80:
        grade = "B"
    else:
        if score >= 70:
            grade = "C"
        else:
            if score >= 60:
                grade = "D"
            else:
                grade = "F"
print(grade)


#elif
grade = ""
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print(score, grade, sep = "->")

A
A
98->A

In [77]:
# 연습 문제
# x = map(int, input("숫자입력>>"))

x = int(input("숫자입력>>"))

if x >= 11 and x <= 20:
    print('11~20')
else:
    if x >= 21 and x <= 30:
        print('21~30')
    else:
        print('아무것도 해당하지 않음')

    
### 이전, 이후는 포함하는 걸까? -> 포함
## 2000년 이전(이후)에 입사했다. -> 2000년 포함

숫자입력>>9
아무것도 해당하지 않음

# for 반복문

In [89]:
list(range(10))

for i in range(10):
    print(i, end = " ")

print()
    
for i in range(10,0,-1):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9
10 9 8 7 6 5 4 3 2 1

In [92]:
for val in [10, 20, 30]:
    print(val, end = "-")

print()    

for val in (10, 20, 30):
    print(val, end = "-")

print()

for val in "Python":
    print(val, end = "-")
    
print()

for val in range(10):
    print(val, end = "-")

10-20-30-
10-20-30-
10-20-30-
0-1-2-3-4-5-6-7-8-9-

In [99]:
print(list(reversed([10,20,30])))
print(tuple(reversed([10,20,30])))

print("".join(list(reversed("Python"))))
print("*".join(list(reversed("Python"))))

[30, 20, 10]
(30, 20, 10)
nohtyP
n*o*h*t*y*P

In [94]:
for val in reversed([10, 20, 30]):
    print(val, end = "-")

print()    

for val in reversed((10, 20, 30)):
    print(val, end = "-")

print()

for val in reversed("Python"):
    print(val, end = "-")
    
print()

for val in reversed(range(10)):
    print(val, end = "-")

30-20-10-
30-20-10-
n-o-h-t-y-P-
9-8-7-6-5-4-3-2-1-0-

In [103]:
x = [49, -17, 25, 102, 8, 62, 21]

for val in x:
    print(val*10, end =" ")
    
print()
    
# 컴프리헨션
result = [ val*10 for val in x ]
print(result)

result = " ".join([ str(val*10) for val in x ])
print(result)

490 -170 250 1020 80 620 210
[490, -170, 250, 1020, 80, 620, 210]
490 -170 250 1020 80 620 210

In [104]:
x = [49, -17, 25, 102, 8, 62, 21]

tuple( val for val in x )

(49, -17, 25, 102, 8, 62, 21)

In [105]:
x = [49, -17, 25, 102, 8, 62, 21]

tuple( val for val in x if val % 2 == 0 )

(102, 8, 62)

In [106]:
for val in x:
    if val % 2 == 0:
        print(val, end = " ")

102 8 62

In [107]:
[ val for val in x if val % 2 == 0 ]

[102, 8, 62]

In [110]:
# 40보다 크면 10을 곱하고, 아니면 1을 더하자
x = [49, -17, 25, 102, 8, 62, 21]

[ val * 10 if val > 40 else val + 1 for val in x ]   # ★★★★★★★리스트 컴프리헨션 if, else 위치 주의

[490, -16, 26, 1020, 9, 620, 22]

In [118]:
# 1~10... 짝수이면 문자로 출력, 아니면 그대로

y = range(1, 11)
print([ str(val) if val % 2 == 0 else val for val in y ])

for val in y:
    if val % 2 == 0:
        print("*", str(val), "*")
    else:
        print(val)

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']
1
* 2 *
3
* 4 *
5
* 6 *
7
* 8 *
9
* 10 *

# while 반복문

In [122]:
# 1~10 반복

for i in range(1, 11):
    print(i, "Hi~")

1 Hi~
2 Hi~
3 Hi~
4 Hi~
5 Hi~
6 Hi~
7 Hi~
8 Hi~
9 Hi~
10 Hi~

In [120]:
# 1~10 반복

i = 1
while i <= 10:
    print(i, "Hi~")
    # i = i + 1    # 복합대입연산자
    i += 1

1 Hi~
2 Hi~
3 Hi~
4 Hi~
5 Hi~
6 Hi~
7 Hi~
8 Hi~
9 Hi~
10 Hi~

In [132]:
import random

# random.random()      # 실수
random.randint(1, 6)   # 1 부터 6 까지의 정수

2

In [135]:
# 주사위를 던진다. 주사위는 1~6까지 수를 가지고 있다.
# 3이라는 숫자가 나오면 중단한다.

# 횟수를 알 수 없으므로 => for 가 아닌 while 사용!
# while 은 조건에 맞으면 계속한다.

i = random.randint(1, 6)
print("최초의 주사위 수 : ", i)

while i != 3:
    i = random.randint(1, 6)
    print(i)

최초의 주사위 수 :  5
6
5
6
4
3

In [147]:
# 로또 1~45  6개를 선택

lucky = list(range(1, 46))

for val in range(6):
    print( random.choice(lucky), end = " " )   # 중복 허용

7 40 40 43 38 14

In [148]:
# 로또 1~45  6개를 선택

for val in range(6):
    lucky = random.randint(1, 45)
    print( lucky, end = " " )               # 중복 허용

37 34 29 20 1 40

In [149]:
a = [37, 34, 29, 20, 1, 40]

40 in a

True

In [151]:
a = [37, 34, 29, 20, 1, 40]

a.append(10)
a

[37, 34, 29, 20, 1, 40, 10]

In [178]:
# 로또 1~45  6개를 선택  // 단, 중복 불가!!!

lucky = []

while len(lucky) < 6:
    num = random.randint(1, 45)
    if num in lucky:
        pass
    else:
        lucky.append(num)
print(lucky)

[11, 21, 25, 26, 12, 34]

### break

In [179]:
# 로또 1~45  6개를 선택  // 단, 중복 불가!!!

lucky = []

while True:
    
    if len(lucky) == 6:
        break
    
    num = random.randint(1, 45)
    if num in lucky:
        pass
    else:
        lucky.append(num)
print(lucky)

[13, 15, 42, 29, 37, 45]

### continue

In [181]:
# 로또 1~45  6개를 선택  // 단, 중복 불가!!!

lucky = []

while True:
    
    if len(lucky) == 6:
        break                # loop 빠지기
    
    num = random.randint(1, 45)
    if num in lucky:
        continue             # loop을 밑의 문장등을 제외하고 계속 진행
    lucky.append(num)
print(lucky)

[8, 20, 41, 14, 2, 39]